@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* // Gestions du carousel avec Slick */

.slick-dots {
  position: absolute !important;
  bottom: 25px !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-dots li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.slick-dots li button:before {
  font-size: 11px !important;
  color: #cbcbcb !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #000000 !important;
}

.activeCursor {
  cursor: none !important;
  transform: scale(3);
  transform-origin: center;
  mix-blend-mode: normal;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(245, 245, 245, 0.801);
  border-radius: 10px;
}
