@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* // Gestions du carousel avec Slick */

.slick-dots {
  position: absolute !important;
  bottom: 25px !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-dots li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.slick-dots li button:before {
  font-size: 11px !important;
  color: #cbcbcb !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #000000 !important;
}

.activeCursor {
  cursor: none !important;
  transform: scale(3);
  transform-origin: center;
  background: #000;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(245, 245, 245, 0.801);
  border-radius: 10px;
}

/* Burger Menu */
.burger.open .line1 {
  transform: translateY(4px) rotate(45deg);
}
.burger.open .line3 {
  transform: translateY(-4px) rotate(-45deg);
}

.menu.hidden {
  display: none;
}

html.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .burger.open .line1 {
    transform: translateY(5px) rotate(45deg);
  }

  .burger.open .line3 {
    transform: translateY(-5px) rotate(-45deg);
  }
}

.carouselImage {
  margin: 0.5rem; /* m-2 */
  border-radius: 20px; /* rounded-[20px] */
  height: 7rem; /* h-28 */
}

@media (min-width: 475px) {
  .carouselImage {
    height: 12rem; /* min-[475px]:h-48 */
  }
}

@media (min-width: 640px) {
  .carouselImage {
    height: 15rem; /* sm:h-60 */
    margin: 1.5rem; /* sm:m-6 */
  }
}

@media (min-width: 768px) {
  .carouselImage {
    height: 20rem; /* md:h-80 */
  }
}

@media (min-width: 1024px) {
  .carouselImage {
    height: 24rem; /* lg:h-96 */
  }
}

@media (min-width: 1280px) {
  .carouselImage {
    height: 28.125rem; /* xl:h-[450px] */
  }
}

@media (min-width: 1536px) {
  .carouselImage {
    margin-left: 4rem; /* 2xl:mx-16 */
    margin-right: 4rem; /* 2xl:mx-16 */
  }
}
