@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personnalisation des points de pagination de Slick */
.slick-dots li button:before {
  @apply text-xs text-black;
}

.slick-dots li.slick-active button:before {
  @apply text-blue-500;
}

/* Personnalisation des flèches de navigation de Slick */
.slick-prev:before,
.slick-next:before {
  @apply text-2xl text-black;
}

/* Styles supplémentaires pour ajuster la présentation des slides */
.carousel .slick-slide {
  @apply text-center text-black bg-gray-200 border border-gray-300 p-4;
}
